<link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.3/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.4/tutorials/timelines/timeline-1/assets/css/timeline-1.css">
        

<mat-card class="rounded-4" *ngFor="let i of profile">
    <mat-card-content class="p-4">
        <div class="position-relative mb-5">
            <img  [src]="authservice.PhotoUrl2 + i.photocov" class="img-fluid rounded-4" alt="" style="height:400px;width:100%;">
            <div class="position-absolute top-100 start-50 translate-middle">
              <img [src]="authservice.PhotoUrl + i.photo" width="170" height="170" class="rounded-circle raised p-1 mat-bg-white mat-elevation-z8" alt="">
            </div>
          </div>
          <div class="pt-5 d-flex flex-column flex-lg-row align-items-start justify-content-between gap-4">
            <div class="">
              <h3 class="mb-2">{{i.name}} {{i.lastname}}</h3>
              <p class="mb-1">specialty</p>
             
              <div class="d-flex align-items-center flex-column flex-lg-row gap-3 mt-3">
                <button mat-stroked-button class="rounded-pill px-3">{{i.speciality}}</button>
                
              </div>
            </div>
            <div class="">

                <button mat-flat-button color="primary" class="rounded-pill px-3" (click)="Updateprofile(i.id)">Edit Profil</button>

            </div>


          </div>

    </mat-card-content>
</mat-card>


<div class="row"  *ngFor="let i of profile">
  <mat-card class="rounded-4">
    <mat-card-content class="p-4">
         <div class="d-flex flex-row gap-3 align-items-center justify-content-between mb-3">
             <div class="">
               <h5 class="">Contacts</h5>
             </div>
            
           </div>
           <div class="full-info">
             <div class="info-list d-flex flex-column gap-3">
                <div class="info-list-item d-flex align-items-center gap-3">
                  <span class="material-icons-outlined">account_circle</span>
                  <p>Full Name: {{i.name}} {{i.lastname}}</p>
                </div>
                <div class="info-list-item d-flex align-items-center gap-3">
                 <span class="material-icons-outlined">work</span>
                 <p>Status: {{i.status}}</p>
               </div>
               <div class="info-list-item d-flex align-items-center gap-3">
                 <span class="material-icons-outlined">cake</span>
                 <p>Date Of Birth: {{i.datebirth | date: 'yyyy-MM-dd'}}</p>
               </div>
               <div class="info-list-item d-flex align-items-center gap-3">
                 <span class="material-icons-outlined">location_on</span>
                 <p>Adress: {{i.adress}}</p>
               </div>
               <div class="info-list-item d-flex align-items-center gap-3">
                 <span class="material-icons-outlined">person</span>
                 <p>Gender: {{i.gender}}</p>
               </div>
               <div class="info-list-item d-flex align-items-center gap-3">
                 <span class="material-icons-outlined">send</span>
                 <p>Email: {{i.email}}</p>
               </div>
               <div class="info-list-item d-flex align-items-center gap-3">
                 <span class="material-icons-outlined">call</span>
                 <p>Phone: {{i.phone}}4</p>
               </div>
             </div>
           </div>
           
     </mat-card-content>
     
 </mat-card>


 


    <div class=""  *ngFor="let i of profile">
        <mat-card class="rounded-4">
            <mat-card-content class="p-4">
               
              <div class="container">
                <div class="row">
                    <div class="col-md-12">
                      <h1 style="text-align: center; margin-bottom: 50px; text-transform: capitalize;
                      font-size: 40px;
                      position: relative;
                      padding-bottom: 20px;
                      margin-bottom: 20px;
                      font-weight: 600; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Parcours academiques</h1>
                        <div class="main-timeline">
                            <div class="timeline">
                                <div class="timeline-content">
                                    <div class="timeline-icon">
                                        <i class="fa fa-globe"></i>
                                    </div>
                                    <span class="timeline-year">{{i.year1}}</span>
                                    <h3 class="title">{{i.etablisement1}}</h3>
                                    <p class="description">
                                       {{i.parcour1}}
                                    </p>
                                  </div>
                            </div>

                            <div class="timeline">
                              <div class="timeline-content">
                                  <div class="timeline-icon">
                                      <i class="fa fa-globe"></i>
                                  </div>
                                  <span class="timeline-year">{{i.year2}}</span>
                                  <h3 class="title">{{i.etablisement2}}</h3>
                                  <p class="description">
                                    {{i.parcour2}}                                  </p>
                                </div>
                          </div>
                            <div class="timeline">
                                <div class="timeline-content">
                                    <div class="timeline-icon">
                                        <i class="fa fa-rocket"></i>
                                    </div>
                                    <span class="timeline-year">{{i.year3}}</span>
                                    <h3 class="title">{{i.etablisement3}}</h3>
                                    <p class="description">
                                      {{i.parcour3}}                                    </p>
                                  </div>
                            </div>
                        </div>
                        <hr style="margin-top: 15px; margin-bottom: 15px;">



                        <div class="container">
                          <div class="row">
                            <div class="col-xl-8 mx-auto text-center">
                              <div class="section-title">
                                <h4>Stages</h4>
                               
                              </div>
                            </div>
                          </div>
                          <div class="row">
                                   <div class="col-xl-12">
                                      <ul class="timeline-list">
                                         <!-- Single Experience -->
                                         <li  style="width: 940px;"  *ngIf="i.datestage1 && i.titlestage1 && i.stage1">
                                            <div class="timeline_content">
                                               <span>{{i.datestage1}}</span>
                                               <h4 style="color: black">{{i.titlestage1}}</h4>
                                               <p>{{i.stage1}}</p>
                                            </div>
                                         </li>

                                         
                                         <!-- Single Experience -->
                                         <li  style="width: 940px;"  *ngIf="i.datestage2 && i.titlestage2 && i.stage2">
                                          <div class="timeline_content">
                                             <span>{{i.datestage2}}</span>
                                             <h4 style="color: black">{{i.titlestage2}}</h4>
                                             <p>{{i.stage2}}</p>
                                          </div>
                                       </li>
                                         <!-- Single Experience -->
                                         <li  style="width: 940px;"  *ngIf="i.datestage3 && i.titlestage3 && i.stage3">
                                          <div class="timeline_content">
                                             <span>{{i.datestage3}}</span>
                                             <h4 style="color: black">{{i.titlestage3}}</h4>
                                             <p>{{i.stage3}}</p>
                                          </div>
                                       </li>
                                         <!-- Single Experience -->
                                         <li  style="width: 940px;"  *ngIf="i.datestage4 && i.titlestage4 && i.stage4">
                                          <div class="timeline_content">
                                             <span>{{i.datestage4}}</span>
                                             <h4 style="color: black">{{i.titlestage4}}</h4>
                                             <p>{{i.stage4}}</p>
                                          </div>
                                       </li>
                                       <li  style="width: 940px;position: fixed !important;"  *ngIf="i.datestage5 && i.titlestage5 && i.stage5">
                                        <div class="timeline_content">
                                           <span>{{i.datestage5}}</span>
                                           <h4 style="color: black">{{i.titlestage5}}</h4>
                                           <p>{{i.stage5}}</p>
                                        </div>
                                     </li>
                                     <li  style="width: 940px;"  *ngIf="i.datestage6 && i.titlestage6 && i.stage6">
                                      <div class="timeline_content">
                                         <span>{{i.datestage6}}</span>
                                         <h4 style="color: black">{{i.titlestage6}}</h4>
                                         <p>{{i.stage6}}</p>
                                      </div>
                                   </li>
                                      </ul>
                                   </div>
                                </div></div>
                        

                                <hr style="margin-top: 15px; margin-bottom: 15px;">


                                <div class="container">
                                  <div class="row">
                                    <div class="col-xl-8 mx-auto text-center">
                                      <div class="section-title">
                                        <h4>Parcours Professionnel</h4>
                                       
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                           <div class="col-xl-12">
                                            <ul class="timeline-list">
                                              <!-- Single Experience -->
                                              <li style="width: 940px;" *ngIf="i.dateparcourpro1 && i.titleparcourpro1 && i.parcourpro1">
                                                 <div class="timeline_content">
                                                    <span>{{i.dateparcourpro1}}</span>
                                                    <h4 style="color: black">{{i.titleparcourpro1}}</h4>
                                                    <p>{{i.parcourpro1}}</p>
                                                 </div>
                                              </li>
     
                                              
                                              <!-- Single Experience -->
                                              <li  style="width: 940px;"   *ngIf="i.dateparcourpro2 && i.titleparcourpro2 && i.parcourpro2">
                                               <div class="timeline_content">
                                                  <span>{{i.dateparcourpro2}}</span>
                                                  <h4 style="color: black">{{i.titleparcourpro2}}</h4>
                                                  <p>{{i.parcourpro2}}</p>
                                               </div>
                                            </li>
                                              <!-- Single Experience -->
                                              <li    style="width: 940px;"  *ngIf="i.dateparcourpro3 && i.titleparcourpro3 && i.parcourpro3">
                                               <div class="timeline_content">
                                                  <span>{{i.dateparcourpro3}}</span>
                                                  <h4 style="color: black">{{i.titleparcourpro3}}</h4>
                                                  <p>{{i.parcourpro3}}</p>
                                               </div>
                                            </li>
                                              <!-- Single Experience -->
                                              <li  style="width: 940px;"  *ngIf="i.dateparcourpro4 && i.titleparcourpro4 && i.parcourpro4">
                                               <div class="timeline_content">
                                                  <span>{{i.dateparcourpro4}}</span>
                                                  <h4 style="color: black">{{i.titleparcourpro4}}</h4>
                                                  <p>{{i.parcourpro4}}</p>
                                               </div>
                                            </li>
                                            <li  style="width: 940px;"  *ngIf="i.dateparcourpro5 && i.titleparcourpro5 && i.parcourpro5">
                                             <div class="timeline_content">
                                                <span>{{i.dateparcourpro5}}</span>
                                                <h4 style="color: black">{{i.titleparcourpro5}}</h4>
                                                <p>{{i.parcourpro5}}</p>
                                             </div>
                                          </li>
                                          <li  style="width: 940px;"  *ngIf="i.dateparcourpro6 && i.titleparcourpro6 && i.parcourpro6">
                                           <div class="timeline_content">
                                              <span>{{i.dateparcoupro6}}</span>
                                              <h4 style="color: black">{{i.titleparcourpro6}}</h4>
                                              <p>{{i.parcourpro6}}</p>
                                           </div>
                                        </li>
                                           </ul>
                                           </div>
                                        </div></div>
                                    



                    </div>
                </div>
            </div>
              
            </mat-card-content>
        </mat-card>
    </div>
    
</div>

