<div class="login-bg position-fixed top-0 start-0 end-0 bottom-0"
                 style="background-image: url(assets/images/gallery/e404.png);"></div>


<div class="pt-5 position-fixed top-0 start-0 end-0 bottom-0 z-1">
 
    <div class="container pt-5">
      <div class="row pt-5">
        <div class="col-lg-12">
            <div class="text-center error-pages">
                <h2 class="coming-soon-title text-green fw-bold mb-3 text-uppercase">We are coming soon</h2>
                <h6 class="text-white text-uppercase">Lets Join and work with us</h6>

                <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt <br>ut labore et dolore magna aliqua.</p>

                <div class="w-50 py-4 mx-auto">
                  <form class="">
                    <div class="">
                        <mat-form-field class="w-100" appearance="fill">
                          <mat-label>First Name</mat-label>
                          <input matInput placeholder="">
                        </mat-form-field>
                    </div>
                    <div class="">
                        <button mat-raised-button color="primary" class="w-100 py-4">Send</button>
                    </div>
                  </form>
                </div>
                
                <div class="mt-4 d-flex align-items-center justify-content-center gap-3">
                    <a mat-raised-button color="primary" href="index.html" class="rounded-5 px-4"><i class="bi bi-house-fill me-2"></i>Go To Home</a>
                    <a mat-raised-button color="accent" href="javascript:void();" class="rounded-5 px-4"><i class="bi bi-arrow-left me-2"></i>Previous Page </a>
                  </div>

                <div class="mt-4">
                    <p class="text-white">Copyright © 2024 | All rights reserved.</p>
                </div>
                   <hr class="border-light border-2">
                   <div class="social-login flex-row d-flex align-items-center justify-content-center gap-3 mt-4">
                    <button mat-mini-fab class="bg-facebook">
                        <mat-icon><i class='bx bxl-facebook-circle'></i></mat-icon>
                    </button>
                    <button mat-mini-fab class="bg-twitter">
                        <mat-icon><i class='bx bxl-twitter'></i></mat-icon>
                    </button>
                    <button mat-mini-fab class="bg-linkedin">
                        <mat-icon><i class='bx bxl-linkedin-square'></i></mat-icon>
                    </button>
                    <button mat-mini-fab class="bg-google">
                        <mat-icon><i class='bx bxl-google'></i></mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
        </div>

 </div>