
<div class="login-bg position-fixed top-0 start-0 end-0 bottom-0"
	style="background-image: url(assets/images/gallery/lock-screen.png);">
</div>


<div class="auth-box d-flex align-items-center justify-content-center my-5 my-lg-0">
 <div class="container-fluid">
	<div class="row row-cols-1 row-cols-lg-2 row-cols-xl-4">
		<div class="col mx-auto">
			<mat-card class="rounded-4 m-2">
				<mat-card-content class="p-5">
					<div class="text-center mb-4">
						<img src="assets/images/avatars/avatar-1.png" class="rounded-circle mb-4 p-1 mat-bg-indigo shadow" width="100" height="100">
							 
							<h2 class="">10:53 AM</h2>
							<h6 class="">Tuesday, January 14, 2024</h6>
					</div>
					<div class="row g-0">
						<div class="col-12 col-md-12">
							<mat-form-field class="w-100 mb-0" appearance="outline">
								<mat-label>Enter Email</mat-label>
								<input matInput placeholder="Ex. xyz@.com">
							</mat-form-field>
						</div>
					
						<div class="col-12 col-md-12">
							<div class="d-grid gap-2">
								<button mat-flat-button class="py-4" color="primary">Login</button>
							</div>
						</div>
					
					</div><!--end row-->
				</mat-card-content>
			</mat-card>
		</div>
	</div>
 </div>
</div>






<!-- <div class="bg-lock-screen">
	<div class="wrapper">
		<div class="authentication-lock-screen d-flex align-items-center justify-content-center">
			<div class="card shadow-none bg-transparent">
				<div class="card-body p-md-5 text-center">
					<h2 class="text-white">10:53 AM</h2>
					<h5 class="text-white">Tuesday, January 14, 2021</h5>
					<div class="">
						<img src="assets/images/icons/user.png" class="mt-5" width="120" alt="" />
					</div>
					<p class="mt-2 text-white">Administrator</p>
					<div class="mb-3 mt-3">
						<input type="password" class="form-control" placeholder="Password" />
					</div>
					<div class="d-grid">
						<button type="button" class="btn btn-white">Login</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> -->