<header class="top-header mat-elevation-z5" [class.hidden]="toggleSearch" [ngClass]="{'test' : getSideBarSate()}">
  <div class="flex-grow-1 gap-1 d-flex align-items-center">
    <button mat-icon-button (click)="toggleSidebar()" >
      <mat-icon class="material-icons-outlined">menu</mat-icon>
    </button>
    
  </div>

  <div class="d-flex align-items-center gap-1">
   

    <button mat-icon-button (click)="darkMode()">
      <mat-icon class="material-icons-outlined">{{ theme_name }}</mat-icon>
    </button>
   
    

    <button mat-icon-button [matMenuTriggerFor]="Notification" >
      <mat-icon class="material-icons-outlined" matBadge={{ListQuiz.length}} matBadgePosition="after"
        matBadgeColor="warn">notifications</mat-icon>
    </button>
    <mat-menu #Notification class="rounded-4 dropdown-notification">
     
      
      <button mat-menu-item *ngFor="let i of ListQuiz" style="border-bottom: 0.5px solid rgba(0, 0, 0, 0.123);" (click)="showquiz(i.id)">
        <mat-icon class="material-icons-outlined text-teal">email</mat-icon>
        <span>{{i.question}}</span>
    
      </button>
     
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="Notification2" >
      <mat-icon class="material-icons-outlined green-badge" matBadge="{{ListResponce.length}}" matBadgePosition="after">
        notifications
      </mat-icon>
      
    </button>
    <mat-menu #Notification2 class="rounded-4 dropdown-notification">
     
      
      <button mat-menu-item *ngFor="let j of ListResponce" style="border-bottom: 0.5px solid rgba(0, 0, 0, 0.123);" (click)="showResponce(j.id)">
        <mat-icon class="material-icons-outlined text-teal">email</mat-icon>
        <span>{{j.question}}</span>
    
      </button>
     
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="UserProfile" >
      <mat-icon class="material-icons-outlined">account_circle</mat-icon>
    </button>
    <mat-menu #UserProfile class="rounded-4 dropdown-userprofile" >
      <button mat-menu-item class="d-flex align-items-center justify-content-center text-center py-2">
        <div *ngFor="let i of profile">
          <img [src]="authservice.PhotoUrl + i.photo" width="80" height="80" class="rounded-circle" alt="">
        </div>
        <div *ngFor="let i of profile">
          <h4 class="username mb-0">Hi,{{i.name}}{{i.lastname}}</h4>
          <p class="mb-0">{{i.email}}</p>
        </div>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="profilee()">
        <mat-icon class="material-icons-outlined" >account_circle</mat-icon>
        <span>Profile</span>
      </button>

      <mat-divider></mat-divider>
      <button mat-menu-item (click)="logout()">
        <mat-icon class="material-icons-outlined" >logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
</header>


<!--start search toolbar-->
<mat-toolbar class="searchbar mat-elevation-z5 justify-content-between"  [ngClass]="{'full-search' : getSideBarSate()}" [class.searchVisible]="toggleSearch">
  <button mat-icon-button class="btn-search">
    <mat-icon class="material-icons-outlined">search</mat-icon>
  </button>
  <input class="w-100 search-control" placeholder="Search">
  <button mat-icon-button class="btn-search" >
    <mat-icon class="material-icons-outlined">close</mat-icon>
  </button>
</mat-toolbar>
<!--end search toolbar-->