
<div class="container">
    <div class="row">
       
        
        <div class="col-md-4" style="margin: auto !important; transform: translateX(-60%);">
            <div class="card user-card">
                <div class="card-header">
                    <h5>Question Response</h5>
                </div>
                <div class="card-block"  *ngFor="let i of Listuser">
                    <div class="user-image">
						<img [src]="authservice.PhotoUrl + i.photo" class="img-radius" alt="User-Profile-Image">                      
                    </div>
                    <h6 class="f-w-600 m-t-25 m-b-10">{{i.name}} {{i.lastname}}</h6>
                    <p class="text-muted">  {{i.gender}} | {{i.datebirth | date: 'yyyy-MM-dd'}}</p>

                    <p class="text-muted"></p>
                    <hr >
					<div *ngFor="let j of Listresponce">
					<h6 class="f-w-600 m-t-25 m-b-10" style="font-weight: bold; font-size: 20px;">{{j.question}}</h6>
                    <ul class="list-unstyled activity-leval">
                        <li class="active"></li>
                        <li class="active"></li>
                        <li class="active"></li>
					
                    </ul>
				</div>
                    <div class="bg-c-green counter-block m-t-10 p-20"  *ngFor="let j of Listresponce">
                        <div class="row" style="display: flex; align-items: center; justify-content: center;">
                            <div class="col-4" *ngIf="j.CheckedChoix">
                                <i class="fa fa-comment"></i>
                                <p ><span style="font-weight: bold;">Checked Choice :</span><br>{{j.CheckedChoix}}</p>
                            </div>
                            <div class="col-4" *ngIf="j.inputChoix">
                                <i class="fa fa-user"></i>
                                <p><span style="font-weight: bold;">Other Response :</span> <br>{{j.inputChoix}}</p>
                            </div>
                          
                        </div>
                    </div>
                    
                
                </div>
            </div>
        </div>
        
    
  </div>
</div>