<aside class="sidebar-wrapper mat-elevation-z9" [ngClass]="{'mini-sidebar' : getSideBarSate()}">
  <div class="sidebar-header">
      <img src="assets/images/app/logo-icon-2.png" width="30">
      <div class="logo-name">Guide School Career</div>
  </div>
  <nav class="sidebar-menu">

    <mat-accordion class="example-headers-align" multi>
      <mat-nav-list >
        <a mat-list-item routerLink="profile/user-profile"><mat-icon class="material-icons-outlined">account_circle</mat-icon>User Profile</a>
      </mat-nav-list>
      <mat-nav-list>
        <a mat-list-item routerLink="profile/quiz"><mat-icon class="material-icons-outlined">question_answer</mat-icon>Quiz</a>
      </mat-nav-list>
      
      </mat-accordion>
    
  </nav>
</aside>
