


.login-bg {
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.login-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
  }
  
  .black-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.593); /* Adjust the opacity as needed */
  }
  
  .cover-content {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.auth-cover-left {
    display: flex;
    background-color: #f7f7ff !important;
    min-height: 100vh;
}

.auth-cover-right {
    display: flex;
    background-color: #ffffff !important;
    min-height: 100vh;
}

