

<div class="">
    <div class="">
        <div class="row g-0">

            <div class="col-12 col-xl-7 col-xxl-8 auth-cover-left align-items-center justify-content-center d-none d-xl-flex z-1 position-relative">
                <div class="login-bg position-fixed top-0 start-0 end-0 bottom-0"
                 style="background-image: url(assets/images/forget.jpg);"></div>
                 <div class="black-overlay"></div>
                <div class="cover-content position-absolute text-center top-50 start-50 translate-middle">
               
                   <h1 class="text-white mb-3">Welcome Back</h1>

                    
                </div>
            </div>

            <div class="col-12 col-xl-5 col-xxl-4 auth-cover-right align-items-center justify-content-center mat-bg-dark z-1">
                <mat-card class="shadow-none mb-0 rounded-0">
                    <form class="validate-form" [formGroup]="authForm" >
                        <mat-card-content class="p-5">
                            <div class="text-center">
                                <img src="assets/images/app/logo-icon-2.png" width="30">
                                  
                                <h4 class="mb-2" >Forgot Password?</h4>
                                <p class="mb-4">Enter your registered email ID to reset the password</p>
                            </div>
                            <div class="row g-3">
                                <div class="col-12 col-md-12">
                                    <mat-form-field class="w-100 mb-0" appearance="fill">
                                        <mat-label>Enter Email</mat-label>
                                        <input matInput  [formControlName]="'email'" placeholder="Ex. xyz@.com">
                                    </mat-form-field>
                                </div>
                            
                                <div class="col-12 col-md-12">
                                    <div class="d-grid gap-2">
                                        <button mat-flat-button color="primary"  (click)=" onSubmit()">Send</button>
                                        <button mat-stroked-button color="basic" routerLink="../cover-signin">Back To Login</button>
                                    </div>
                                </div>
                            
                            </div><!--end row-->
                        </mat-card-content>
                    </form>
                </mat-card>
            </div>

        </div>
        <!--end row-->
    </div>
</div>





















